POSTGRES_USER=
POSTGRES_PASSWORD=

RABBITMQ_USER=
RABBITMQ_PASS=

NEO4J_PASSWORD=

JWT_SECRET=

OPENAI_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

IYZICO_API_KEY=sandbox-
IYZICO_SECRET_KEY=sandbox-

MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=...@gmail.com
MAIL_PASSWORD=
SLACK_WEBHOOK_URL=https://hooks.slack.com
DEMO_MODE=false
